/* styling borrowed from The Events Calendar  */
#rtec .tribe-bar-toggle-arrow {
    display: inline-block;
    margin: 0 4px;
    position: absolute;
    top: 11px;
    right: 10px;
}
#rtec .tribe-bar-toggle-arrow:after {
    top: 10px;
    right: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: inherit;
    border-width: 8px;
}
#rtec .tribe-bar-filters-open span.tribe-bar-toggle-arrow:after {
    top: 0;
    border-top-color: transparent;
    border-bottom-color: inherit;
}
/* hide button and reveal if javascript is available */
#rtec .rtec-js-show,
#rtec .rtec-hidden-message,
#rtec .rtec-screen-reader {
    display: none;
}
#rtec {
    max-width: 700px;
    min-width: 300px;
}
.rtec-outer-wrap { margin-top: 1.75em; }
#rtec .rtec-spinner,
#rtec-confirm-unregister .rtec-spinner{
     display: none;
     position: absolute;
     top: 50%;
     right: 50%;
     box-shadow: none !important;
}
#rtec .rtec-spinner img,
#rtec-confirm-unregister .rtec-spinner img{
    border-radius: 0;
    box-shadow: none !important;
    margin: 0;
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
}
.rtec-unregister-link-wrap .rtec-spinner {
    position: absolute;
    right: 50%;
    top: 50%;
    box-shadow: none !important;
}
.rtec-yellow-message {
    display: inline-block;
    line-height: 19px;
    padding: 11px 15px;
    font-size: 14px;
    text-align: left;
    margin: 25px 20px 0 2px;
    background-color: #fff;
    border-left: 4px solid #ffba00;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
#rtec .rtec-form-wrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0 auto 30px;
    padding: 30px;
    border: 1px solid #ddd;
    background: #eee;
}
#rtec .rtec-register-button {
    position: relative;
    margin-bottom: 30px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
#rtec:not(.rtec-use-modal) .rtec-register-button {
    padding-right: 40px !important;
}
#rtec.rtec-use-modal .rtec-register-button > span {
    display: none;
}
#rtec input[type="submit"],
#rtec .rtec-form-buttons button{
    float: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
#rtec .rtec-add-guest-button {
    margin-bottom: 30px;
}
#rtec .rtec-change-button {
    display: block;
    padding: 4px 10px;
    font-size: 16px;
    cursor: pointer;
}
.rtec-attendance p{
    text-align: center;
    margin: 0 !important;
}
.rtec-attendance-display {
    margin-bottom: 1em;
}
#rtec .rtec-form-field {
    margin-bottom: 30px;
}
#rtec .rtec-input-wrapper {
    position: relative;
}
#rtec input[type="text"],
#rtec input[type="email"],
#rtec input[type="tel"],
#rtec input[type="number"],
#rtec input[type="password"],
#rtec textarea {
    box-sizing: border-box;
    display: inline-block;
    float: none;
    padding: 8px;
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 1.5;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#rtec select {
    padding-left: 8px;
    height: auto;
    font-size: 18px;
    line-height: 1.5;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#rtec option {
    padding: 8px;
    height: auto;
    font-size: 18px;
    line-height: 1.5;
}
#rtec input[type="number"] {
    max-width: 100px;
}
#rtec .rtec-form-buttons input,
.rtec button {
    line-height: inherit;
    height: auto;
    margin: 0;
}
#rtec label {
    display: inline-block;
}
#rtec .rtec-checkbox-option-wrap label:hover,
#rtec .rtec-form-wrapper input[type=checkbox]:hover,
#rtec .rtec-form-wrapper input[type=radio]:hover,
#rtec .rtec-form-wrapper select:hover {
    cursor: pointer;
}
#rtec .rtec-checkbox-option-wrap input {
    margin-right: 10px
}
#rtec .rtec-form-buttons {
    text-align: center;
}
#rtec .rtec-custom-hover:hover {
    opacity: .8;
}
#rtec .rtec-valid {
    border: 1px solid rgb(20, 220, 70) !important;
}
#rtec .rtec-error {
    border: 1px solid rgb(255, 92, 51) !important;
}
#rtec .rtec-checkbox-option-wrap label {
    display: inline;
    vertical-align: middle;
}

/* Check for email duplicate */
#rtec .rtec-email-spinner img{
    position: absolute;
    top: 11px;
    right: 11px;
    border-radius: 0;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    width: 24px;
    height: 24px;
}
#rtec .rtec-form-buttons .rtec-email-spinner {
    top: 50%;
    right: 50%;
    margin-top: -12px;
    margin-right: -12px;
}

#rtec .rtec-error-message {
    margin: 0;
    padding: 0 5px;
    font-weight: bold;
    background: rgb(255, 92, 51);
    color: #fff;
    border-radius: 3px;
}
#rtec .rtec-success-message {
    text-align: center;
}

/* Shortcode Forms */
h2.rtec-header, .entry-content h2.rtec-header { margin: 0; }
h3.rtec-header, .entry-content h3.rtec-header { margin: 1em 0 1.5em; }

/* MVT */

.rtec-mvt-wrapper {
    position: relative;
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 4px;
    background-color: #666;
    color: #fff;
}
.rtec-mvt-option-wrap {
    margin-bottom: 10px;
}
.rtec-mvt-wrapper input {
    margin-right: 10px;
}
.rtec-mvt-wrapper .rtec-mvt-label {
    vertical-align: middle;
    margin-right: 18px;
    font-size: 20px;
}
.rtec-mvt-wrapper .rtec-mvt-label:hover {
    cursor: pointer;
}
.rtec-mvt-wrapper .rtec-mvt-description {
    font-size: 16px;
}
.rtec-mvt-wrapper .rtec-mvt-att {
    display: inline-block;
    vertical-align: middle;
    background-color: #333;
    padding: 2px 8px 4px;
    border-radius: 4px;
    font-size: 14px;
}
.rtec-mvt-att-wrap {
    display: inline-block;
}
.rtec-disabled {
    color: #aaa;
}
#rtec .rtec-mvt-wrapper .rtec-error-message {
    bottom: -22px;
    left: 0;
    top: auto
}
#rtec .rtec-mvt-waiting-title {
    margin-top: 15px;
}
#rtec .rtc-mvt-text {
    float: left;
    margin-left: 25px;
}
#rtec .rtec-mvt-option-wrap {
    position: relative;
}
#rtec .rtec-input-absolute {
    position: absolute;
    top: 8px;
    left: 0;
}

/* Users only */
.rtec-unregister-link {
    display: block;
    margin-bottom: 20px;
}
/* Attendee list */
.rtec-event-meta:after {
    content: "";
    visibility: hidden;
    display: table;
    clear: both;
}
.rtec-event-meta {
    padding-bottom: 4%;
}
.rtec-attendee-list {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 0 4%;
}
.rtec-list-column-2 {
    width: 50%;
}
.rtec-list-column-3 {
    width: 33.33%;
}
.single-tribe_events .tribe-events-event-meta .rtec-section-title,
.rtec-section-title {
    padding: 0 4%;
    font-size: 1.4em;
    font-weight: 700;
    margin: 20px 0 10px;
}
.single-tribe_events .tribe-events-event-meta .rtec-section-subtitle,
.rtec-section-subtitle {
    font-size: 1.2em;
    font-weight: 700;
    margin: 20px 0 10px;
}
.rtec-attendee {
    display: block;
    line-height: 1.4;
    margin-bottom: 10px;
}

/** Visitor Tools **/
.rtec .rtec-already-registered-options .rtec-event-meta {
    position: relative;
    padding: 4%;
}
.rtec-already-registered-options input[type=submit] {
    line-height: inherit;
    height: auto;
    margin-bottom: 10px;
    padding: 12px 16px;
    font-size: 16px;
}
.rtec-unregister-link-wrap,
.rtec-already-registered-options.rtec-is-user form{
    display: inline-block;
}

/** Log-in **/
.rtec-login-wrap {
    padding: 4% 4% 0;
}

/** Payments **/
#rtec .tribe-events-event-meta.rtec-event-meta {
    display: block;
}
.rtec-payment-table-wrap {
    padding: 0 4%;
}
#rtec-payment-form button.rtec-payment-button {
    float: right;
    margin-bottom: 10px;
}
.rtec-jstfy-right {
    text-align: right;
}
.rtec-jstfy-center {
    text-align: center;
}
.rtec-payment-total {
    font-weight: bold;
}
.rtec-currency-code {
    padding-left: 5px;
    vertical-align: top;
    font-size: .8em
}
.rtec-payment-table-wrap table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.rtec-payment-table-wrap th,
.rtec-payment-table-wrap td {
    padding: 6px 10px !important;
}
.rtec-payment-table-wrap th {
    font-weight: bold;
}
.rtec-highlight {
    background: #d9edf7;
    color: #3a87ad;
    text-shadow: 0 1px 0 #fff;
}
.rtec-button-right {
    display: inline-block;
    float: right;
    clear: both;
}
.rtec .rtec-can-wait-link {
    display: inline-block;
    float: right;
    clear: both;
    margin-top: 10px;
}
#rtec-payment-form input[type=submit] {
    float: right;
    margin-bottom: 10px;
}
.rtec-clear::after {
    clear: both;
    content: "";
    display: block;
}
/* Backup styles */
.tribe-events-notices {
    background: #d9edf7;
    border-radius: 4px;
    border: 1px solid #bce8f1;
    color: #3a87ad;
    margin: 10px 0 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 #fff;
}
/* On mobile make the min-width 100% */
@media all and (max-width: 640px){
    #rtec .rtec-form-wrapper {
        width: 100% !important;
    }
    .rtec-list-column-3 {
        width: 50%;
    }
}

/* Attendee List Shortcode */

.rtec-attendee-list-wrap .rtec-section-title {
    padding: 0 4%;
    font-size: 1.4em;
    font-weight: 700;
    margin: 20px 0 10px;
}
.rtec-attendee-list-wrap .tribe-events-single-section-title.rtec-section-subtitle {
    font-size: 1.2em;
    font-weight: 700;
    margin: 20px 0 10px;
}
.rtec-attendee-list-wrap .tribe-events-event-meta {
    background: #fafafa;
    border: 1px solid #eee;
    margin: 30px 0;
}

/* Field Groups */
.rtec-field-group-menu {
    margin-bottom: 14px;
}
.rtec-fg-item {
    display: inline-block;
    margin-right: 10px;
    padding: 9px;
    font-size: 14px;
    line-height: 1;
}
.rtec-fg-item,
.rtec-field-group-remove {
    background: #fff;
}
.rtec-fg-selected,
.rtec-fg-item:hover{
    border: 1px solid #ccc;
    border-left: 4px solid #ccc;
    padding: 8px;
    padding-left: 5px;
    cursor: pointer;
}
#rtec .rtec-fg-selected.rtec-error.rtec-fg-item,
#rtec .rtec-error.rtec-fg-item:hover {
    border-left: 4px solid rgb(255, 92, 51) !important;
}

.rtec-fg-header-text {
    font-size: 28px;
}
.rtec-field-group-remove {
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
    line-height: 1;
    padding: 2px 3px;
    border-radius: 5px;
    vertical-align: text-top;
}
.rtec-field-group-remove:hover {
    padding: 1px 2px;
    border: 1px solid #ccc;
}

/* Modal */
.rtec-modal-is-open {
    overflow: hidden;
}
.rtec-modal {
    position: fixed;
    width: 700px;
    top: 5%;
    left: 50%;
    right: 50%;
    max-height: 90%;
    margin-left: -350px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.7);
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    background: #fcfcfc;
    -webkit-font-smoothing: subpixel-antialiased;
}
.rtec-modal .rtec-button-link.rtec-media-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    color: #444;
    z-index: 1000;
    cursor: pointer;
    outline: none;
    background: #fff;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: sans-serif;
    transition-property: border, background;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
}
.rtec-modal .rtec-button-link.rtec-media-modal-close:hover {
    border: 1px solid #ccc;
}
.rtec-modal-content .rtec-already-registered-reveal {
    display: none;
}
.rtec-media-modal-icon {
    display: block;
}
.rtec-modal .rtec-button-link {
    text-align: center;
    color: inherit;
    text-decoration: none;
}
@media all and (max-width: 725px){
    .rtec-modal {
        width: 100%;
        margin-left: -50%;
    }
}
.rtec-modal-is-open .rtec-modal {
    opacity: 1;
    pointer-events: auto;
    z-index: 160000;
}
.rtec-modal-is-open .rtec-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: .7;
    z-index: 159900;
}
.rtec-modal #rtec .rtec-already-registered-options,
.rtec-modal #rtec .rtec-form-toggle-button {
    display: none !important;
}
.rtec-modal #rtec .rtec-form-wrapper {
    margin: 0;
}
.rtec-modal .rtec-after-submission-wrap{
    margin: 50px 0 0;
}

/* Edit Link */
#rtec .rtec-edit-entry-link {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.rtec-modal .rtec-edit-entry-link {
    margin-left: 4%;
}